body {
    background-image: url(espaco.jpg);
    background-repeat: no-repeat;
    background-position: center 0%;
    background-size: 1366px 650px;   
}
img {
    display: block;
    margin: auto;
}

